html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

p {
  margin: 0;
}

.path-holder {
  svg {
    height: 60px;
    width: 46px;
  }
}

.text-yellow {
  color: $yellow;
}
